<ion-view title="Top Stories">
  <ion-nav-buttons side="right">
    <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-list>

      <ion-item ng-repeat="story in HackerNews" type="item-text-wrap" ng-click="open_inapp_browser(story.url, story.id)" style="background-color: #262626;color:#ebebeb;padding:0px;margin:0px;border:0px;">
        <div class="row" style='
              white-space: normal;
              margin-bottom:20px;
              padding:20px 20px;
              font-size:14px;'>
          {{story.title}}
        </div>
        <div class="row" style='
              position:absolute;
              bottom:0px;
              font-size:10px;
              padding:0px;
              margin:0px;
              padding-left:20px;
              background-color: #383838;'>
          posted by {{story.by}}
        </div>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
